@{
    ViewData["Title"] = "Admin";
}

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Admin" asp-action="NavbarItemsPage" class="list-group-item-action">
            Navbar items settings
        </a>
    </li>
</ul>