@using Microsoft.Extensions.Options
@using Atheer.Utilities.Config.Models
@model Atheer.Controllers.Authentication.Models.LoginViewModel
@inject IOptionsSnapshot<Site> Site
@inject IOptions<GithubOAuth> GithubOAuth

@{
    ViewData["Title"] = "Login";
}

<h4 class="text-dark">Login</h4>

@if (Model.ShowAttemptsLeft)
{
    <div class="text-danger">Inputted username/password is not correct</div>
    <div class="text-danger">You have @Model.AttemptsLeft.ToString() attempts left</div>
}
else if (Model.EmphasizeUsername && !string.IsNullOrEmpty(Model.Username))
{
    <h5 class="text-info">Your username: @Model.Username</h5>
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-primary">Login</button>
</form>

@if (GithubOAuth.Value.Enabled)
{
    <a class="text-info btn-link" href="https://github.com/login/oauth/authorize?scope=read:user&client_id=@GithubOAuth.Value.ClientId">
        Login with Github
    </a>
}

@if (Site.Value.CanRegister)
{
    <div>
        Don't have a user account, 
        <a class="text-info" asp-controller="User" asp-action="RegisterView">Click here to register.</a>
    </div>
}