@model Atheer.Controllers.Dtos.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@if (TempData.ContainsKey("Info"))
{
    <span class="text-info">@TempData["Info"]</span>
}

<h4 class="text-dark">Login</h4>

<form asp-controller="Authentication" asp-action="Login" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <button class="btn btn-outline-primary">Login</button>
</form>