@using Microsoft.Extensions.Options
@using Atheer.Utilities.Config.Models
@model Atheer.Controllers.ViewModels.LoginViewModel
@inject IOptionsSnapshot<Site> Site

@{
    ViewData["Title"] = "Login";
}

@if (TempData.ContainsKey("Info"))
{
    <span class="text-info">@TempData["Info"]</span>
}

<h4 class="text-dark">Login</h4>

<form asp-controller="Authentication" asp-action="Login" asp-route-returnUrl="@Url." method="post">
    <label asp-for="EmailOrUsername"></label>
    <input asp-for="EmailOrUsername">
    <label asp-for="Password"></label>
    <input asp-for="Password" type="password">
    <button class="btn btn-outline-primary">Login</button>
</form>

@if (Site.Value.CanRegister)
{
    <div>
        Don't have a user account, 
        <a class="text-info" asp-controller="User" asp-action="RegisterView">Click here to register.</a>
    </div>
}