<form asp-controller="Authentication" asp-action="LogoutPost" method="post" id="form">
    <button type="submit">Logout</button>
</form>

<script>
const form = document.getElementById("form");
form.submit();
</script>