@model Atheer.Controllers.Dtos.RegisterViewModel?

@{
    ViewData["Title"] = "Register";
}

<h4 class="text-dark">Register</h4>

<form asp-controller="Authentication" asp-action="Register" method="post">
     <label asp-for="FirstName"></label>
    <input asp-for="FirstName">
    <label asp-for="LastName"></label>
    <input asp-for="LastName">
    <label asp-for="Bio"></label>
    <input asp-for="Bio">
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <button class="btn btn-outline-primary">Register</button>
</form>