@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">An error has occured</h1>

<div class="row">
    <div class="col-3"></div>
    <div class="col-10 text-center">
        <h1 class="text-dark">
            <a asp-controller="Articles" asp-action="Index">Redirect to articles</a>
        </h1>
    </div>
    <div class="col-3"></div>
</div>