@using Atheer.Controllers
@using Atheer.Services.UsersService
@model Atheer.Controllers.ViewModels.UserPageViewModel

@{
    string userId = User?.FindFirst(AuthenticationController.CookieUserId)?.Value;
    string fullName = Model.User.FullName();
    ViewData["Title"] = fullName;
  
    // TODO add last seen
}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="favicon.ico" alt="@fullName">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@fullName</h5>
        @if (userId == Model.User.Id || User.IsInRole(UserRoles.AdminRole))
        {
          <span class="text-info">Username: @Model.User.Id</span>
        }
        <p class="card-text">@Model.User.Bio</p>
        @* <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> *@
      </div>
    </div>
  </div>
</div>

@await Component.InvokeAsync("Articles", Model.Articles).ConfigureAwait(false)