@model Atheer.ViewComponents.ArticleEditLinkModel

<a asp-controller="ArticleEdit" asp-action="Index" 
   asp-route-CreatedYear="@Model.CreatedYear" asp-route-TitleShrinked="@Model.TitleShrinked">Edit</a>