@model Atheer.Services.ArticlesService.ArticlesResponse

@{
    ViewData["Title"] = "Articles";
}

@if (TempData.ContainsKey("Error"))
{
    <h5 class="text-danger">@TempData["Error"]</h5>
}

@await Component.InvokeAsync("Articles", Model).ConfigureAwait(false)