@using Atheer.Services.ArticlesService
@model Atheer.Controllers.Article.Models.UpdateArticleByAdminDifferentAuthorViewModel

@{
    ViewData["Title"] = "Update Article";
    
    var key = ViewBag.Key as ArticlePrimaryKey;
}

<a class="card-link" asp-controller="Article" asp-action="Index" asp-route-CreatedYear="@key.CreatedYear.ToString()" 
   asp-route-TitleShrinked="@key.TitleShrinked">Visit article page
</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="POST" asp-controller="ArticleEdit" asp-action="UpdateArticleByAdminPost" asp-route-CreatedYear="@key.CreatedYear.ToString()" 
                    asp-route-TitleShrinked="@key.TitleShrinked">
    <label asp-for="ForceFullyUnlisted">Force fully unlist</label>
    <input type="checkbox" class="form-check" asp-for="ForceFullyUnlisted">
    
    <button class="btn btn-primary" type="submit">Edit</button>
</form>